.flex {
  display: flex;
  flex-direction: column;
}

.flex img {
  max-width: 100%;
}

.content {
  width: 100%;
}

.pagination {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  gap: 3rem;
}

.disabled {
  opacity: 0.5;
}

@media screen and (min-width: 768px) {
  .flex {
    flex-direction: row;
  }

  .flex img {
    max-width: 360px;
    margin-right: 1rem;
  }
}