.nav-links {
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 1rem 0 1rem 0;
}

.nav-links > li:not(:last-child) {
  padding-right: 2rem;
}

.nav-link-text {
  text-decoration: none;
  padding-bottom: 8px;
}

.nav-link-text.active {
  text-decoration: underline;
}

.next-show-container {
  text-align: center;
  margin-top: 1rem;
}

.next-show-container small {
  font-size: 0.7rem;
  text-transform: uppercase;
}

.show-link-item {
  text-decoration: none;

}

.show-link-item:hover {
  padding-bottom: 8px;
  border-bottom: 4px solid hotpink;
}

.show-ghost {
  opacity: 1;
  animation: fade 2s infinite;
}

.show-ghost:nth-child(1) {
  animation-delay: 0.5s;
}

@keyframes fade {
  0%, 100% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }
}