.nav-links {
  display: flex;
  justify-content: end;
  list-style: none;
  padding: 1rem 0 1rem 0;
}

.nav-link-item {
  padding-right: 2rem;
}

.nav-link-text {
  text-decoration: none;
  padding-bottom: 8px;
}

.nav-link-text.active {
  text-decoration: underline;
}