.nav-links {
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 1rem 0 1rem 0;
}

.nav-links > li:not(:last-child) {
  padding-right: 2rem;
}

.nav-link-text {
  text-decoration: none;
  padding-bottom: 8px;
}

.nav-link-text.active {
  text-decoration: underline;
}

.next-show-container {
  text-align: center;
  margin-top: 1rem;
}

.next-show-container small {
  font-size: 0.7rem;
  text-transform: uppercase;
}

.show-ghost {
  display: inline-block;
  opacity: 1;
  transform-origin: center;
  animation: tremolo 9s infinite, vibrato 5s infinite;
  margin: 0 1rem;
}

.show-ghost:nth-child(1) {
  animation-delay: 1.5s, 2s;
}

@keyframes tremolo {
  0%, 100% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }
}

@keyframes vibrato {
  0%, 100% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.5);
  }
}